{template '../xiaoye/head'}
<body>
<div class="z_main">
     <div class="head-yy">
        <a href="{php echo $this->createMobileUrl('applist')}" class="pp"><p>预约活动</p></a>
        <a href="{php echo $this->createMobileUrl('applist_result')}"><p>预约结果</p></a>
    </div>
    {loop $list $row}
            <div class="yy">
                <div class="yy-top">
                <div class="yy-t-l">
                {if $row['status']==1 && $row['appointment_end']>time()  && time()>$row['appointment_start']}
                    <img src="{MODULE_URL}/template/xiaoye/img/jxz.png">
                {elseif $row['status']==1 && $row['appointment_end']< time() }
                    <img src="{MODULE_URL}/template/xiaoye/img/yjs.png">
                {elseif $row['status']==1 && $row['appointment_start']>time() }
                    未开始
                {/if} 
                    <p>{$row['appointment_name']}</p>
                    </div>
                <div class="yy-t-r">
                    <p1>申请数</p1>
                    <p2>{$row['appointment_join_num']}</p2>
                </div>
                    
                </div>
                <div class="yy-m">
                    <a href="{php echo $this->createMobileUrl('appointment_article',array('op'=>$row['appointment_id']));}"><p>
                        {php echo $this->clear_html_short($row['appointment_intro']);}
                    </p></a>
                </div>
                <div class="yy-b">
                    <p1>{if $row['appointment_type_limit']==0}全校{elseif $row['appointment_type_limit']==1}年级{elseif $row['appointment_type_limit']==2}班级{/if}&nbsp;&nbsp;</p1>
                    <p2>{php echo date("m-d H:i",$row['appointment_start']);}--{php echo date("m-d H:i",$row['appointment_end']);}</p2>
                </div>
                <div class="y-t"></div>
            </div>
    {/loop}    
</div>
{template '../xiaoye/footer'}
</body>
</html>