{template '../xiaoye/head'}
<script src="{MODULE_URL}/style/js/jquery.min.js"></script>
<script src="{MODULE_URL}/template/xiaoye/js/load.js"></script>
<body>
<div class="z_main">
<div class="line_head_img" {if $class_info['line_img']} style="background-image: url({$_W['attachurl']}{$class_info['line_img']})" {/if}>
</div>
<ul id="list">
    {template '../xiaoye/line_content'}
</ul>
 <a href="{php echo $this->createMobileUrl('send_line',array('class_id' => $_GPC['class_id'] ) )}">
    <div class="send_line">
        <img src='{MODULE_URL}/template/xiaoye/upimg/send.png'>
    </div>
 </a>
<h1 id='add_msg' style="text-align:center;color:#333;font-size:1.5em;margin-top:10px;">...</h1>  
        <div class="pinglun hidden" id="comment_area" style="height:200px;">
        <div class="pinglun1">
            <form>
                <input class="pinglun11" type="text"   name='content' id='content' >
                <div class="pinglun12"><a href=""><img src="{MODULE_URL}/template/xiaoye/img/jpp.png"></a></div>
                <a href="javascript:;" class="pinglun13" id="send_comment">评论</a>
            </form>
    </div> 
    </div>
</div>
<script>
    $(function(){
        $("#send_comment").click(function(){
              content = $('#content').val();
              if(!content){
                  alert("请输入内容");
                  return false;
              }
              $('#comment_area').hide();
              $('.caidan').show();
              $('#content').val('');
              ajaxComment(send_id,content,'huifu','comment_list_line');       
        });
        $("#close_comment").click(function(){
            $("#comment_area").hide();
        });        
    });
</script>
{template 'jsweixin'}
{php $footer_type = 'line';}
{template '../xiaoye/footer'}
{template '../xiaoye/line_js'}
</body>
</html>
