{template '../xiaoye/head'}
<body>
	<div class="z_main">
		<div class="z_tx1">
            <div class="z_tx11">
                <form method="post"  action="{php echo $this->createMobileUrl('personer_list')}">
                    <input type="text"  placeholder="请输入你要搜索的联系人" name="search_name" value="{$_GPC['search_name']}">
                    <input name="submit" type="submit" class="z_bxx" value=" " > 
                </form>
            </div>
		</div>
		<div class="z_tx2">
		<div id="firstpane" class="menu_list">
            <h3 class="menu_head current">
                <div class="z_tx21"><img src="{MODULE_URL}/template/xiaoye/img/js.png"></div>
                <div class="z_tx22">教师组</div>
                <div class="z_tx23"><img src="{MODULE_URL}/template/xiaoye/img/jiantou.png"></div>
            </h3>
        <div style="display:block" class="menu_body">
            <ul class="z_txx">
                {loop $teacher_list $key $row}
                    <li>
                        <div class="z_txx1"><img src="{php echo D('teacher')->teacherImg($row['teacher_id']);}"></div>
                        <div class="z_txx2">{$row['teacher_realname']}<span>({php echo $this->courseName($row['course_id'])})</span></div>
                        <div class="z_txx3"><a href="tel:{$row['teacher_telphone']}"><img src="{MODULE_URL}/template/xiaoye/img/Z_DH.png"></a></div>
                        <div class="z_txx3"><a href="{php echo $this->createMobileUrl('chatMessage',array('t_id'=>$row['teacher_id'],'type'=>'teacher'))}"><img src="{MODULE_URL}/template/xiaoye/img/pl.png"></a></div>
                    </li>
                {/loop}
            </ul>
        </div>
</div>
<script>
    $(document).ready(function(){
        $("#firstpane .menu_body:eq(0)").show();
        $("#firstpane h3.menu_head").click(function(){
            $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
        $("#secondpane .menu_body:eq(0)").show();
        $("#secondpane h3.menu_head").mouseover(function(){
            $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
    });
</script>
</div>
{template '../xiaoye/footer'}
</body>
</html>
