<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{$page_title}-{$_SESSION['school_name']}</title>
    {template 'common'}
    {template 'tea_common'}
    <link href="{MODULE_URL}style/css/line_css.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
</head>
<div class="top-wrap">
        <div class="fn-clear tr-box top bg_yellow" >
            <div class='text_center white'>{$page_title}</div>
        </div>
 </div>  
<div class="main" style='margin-bottom:60px;'>
	{if $ac=='list'}
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr style="color:#009ffb">
					<th>班级名</th>
					<th>到校</th>
					<th>离校</th>
					<th>异常</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td><a href="{php echo $this->createMobileUrl('tea_attence',array("class_id"=>$item['class_id'],'ac'=>'student'));}">{$item['class_name']}</a></td>
					<td>{$item['up']}</td>
					<td>{$item['low']}</td>
					<td>{$item['other']}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	{/if}
    {if $ac=='student'}
 		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr style="color:#009ffb">
					<th>学生名</th>
					<th>到校</th>
					<th>离校</th>
					<th>异常</th>
				</tr>
			</thead>
			<tbody>
				{loop $student_list $item}
				<tr>
					<td>{$item['student_name']}</td>
					<td>{$item['up']}</td>
					<td>{$item['low']}</td>
					<td>{$item['other']}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>   
    {/if}
</div>
{template 'jsweixin'}
<link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
{template '../new/tea_footer'}